.elemenCuerpo{
    display: flex;
    margin-bottom: 50px;
}

.nomDoc{
    display: flex;
    width: 60%;
    margin-top: 8%;
}

.imgCuerpo{
    width: 350%;
    display: flex;
    margin-top: 5%;
}

.parrafo{
   width: 80%;
}
