.formulario {
   width: 400px;
   padding: 30px;
   background-color: rgba(0, 0, 0, 0.7);
}

h4 {
   font-size: 20px;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="email"],
.formulario textarea[type="text"],
.form-floating {
   padding: 9px;
   font-family: 'Roboto', Arial, sans-serif;
   font-size: 18px;
   color: #000000;
   resize: none;
}

.boton {
   background-color: #F64637;
   color: white;
   padding: 5px 25px;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}